* {
  box-sizing: border-box;
}

html,
body,
#circlesSection {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#circlesSection {
  position: relative;
}

.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 1px solid white;
  background-color: black;
  color: white;
  line-height: 100px;
  width: 100px;
  text-align: center;
  user-select: none;
  transition: all 5s linear;
  z-index: 2;
}

.line {
  position: absolute;
  width: 0;
  height: 2px;
  background-color: blue;
  transform-origin: left center;
  pointer-events: none;
  z-index: 1;
}
