* {
  box-sizing: border-box;
}

html,
body,
#circlesSection {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: black;
  color: white;
  line-height: 100px;
  width: 100px;
  text-align: center;
}
